<script type="application/javascript">
jQuery(document).ready(($) => {
  $('form').submit((e) => {
    e.preventDefault();
    var submit = $(e.target).find('input[type=submit]')
    submit.button('loading');
    $('.creating').show();
    $.post($(e.target).attr('action'), objectifyForm($(e.target).serializeArray())).done(() => {
      window.location = '/contacts/';
    }).fail((jqXHR, textStatus, errorThrown) => {
      if(jqXHR.status == 400)
        alert(jqXHR.responseJSON.error);

    }).always(() => {
      $('.creating').hide();
    });
  })
});
</script>

<div class="card col-lg-6 col-sm-6 col-xs-12 center-block">
  <form method="post" action="/contacts/create">
    <div class="card-header"><h1>New Contact:</h1>
      <a href="/contacts" class="btn btn-primary">< Back to the contacts list</a></div>
    <div class="card-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control form-control-lg" name="name" id="name">
      </div>
      <div class="form-group">
        <label for="photo">Photo</label>
        <input class="form-control form-control-lg" name="photo" id="photo">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control form-control-lg" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input class="form-control form-control-lg" name="phone" id="phone">
      </div>
      <input class="btn btn-primary" type="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin '></i> Creating new contact">
      <div class="creating hide"><i class='fa fa-circle-o-notch fa-spin '></i> Creating new contact</div>
    </div>
  </form>
</div>
